.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}
.rmdcaution {
  background-image: url("http://bookdown.org/yihui/bookdown/images/caution.png");
}
.rmdimportant {
  background-image: url("http://bookdown.org/yihui/bookdown/images/important.png");
}
.rmdnote {
  background-image: url("http://bookdown.org/yihui/bookdown/images/note.png");
}
.rmdtip {
  background-image: url("http://bookdown.org/yihui/bookdown/images/tip.png");
}
.rmdwarning {
  background-image: url("http://bookdown.org/yihui/bookdown/images/warning.png");
}

pre{
    counter-reset: line;
    background: rgba(245, 85, 103, 0.08) !important;;
    border-radius: 10px;
    /*border-style: inset !important;;*/
}

pre.cpp {
    background-color: rgba(59, 233, 60, 0.11) !important;
    /* background-image: url(https://c1.staticflickr.com/9/8305/8008190852_a5fffe48c9.jpg) !important; */
    /*background-image: url(/img/cpp_body.png) !important;*/
}

code{
    counter-increment: line;
}

code:before{
    -webkit-user-select: none;
}

.book .book-body .page-wrapper .page-inner section.normal code {
    padding: .2em;
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #e4f28a;
}

html, body{
  font-size: 13px;
  /*font-family: sans-serif;*/
}
.book .book-body .page-wrapper .page-inner section.normal *{
  font-size: 13px;
}
p.caption {
  color: #777;
  margin-top: 11px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

blockquote {
    margin: 1em 0 .85em;
    padding: 25px 40px 20px !important;
    color: darkblue !important;
    border-left: 8px solid #ce2626 !important;
    /*font-style: italic;*/
    background: url(img/quote.png) no-repeat -80px -30px beige;
}



.question {
  background-color: #fcfa90;
  margin: 0.5em auto;
  padding: 0.5em;
  border-radius: .25em;
  box-shadow: .1em .1em .5em rgba(0,0,0,.45);
}

.remark {
  background-color: lightgreen;
  margin: 0.5em auto;
  padding: 0.5em;
  border-radius: .25em;
  box-shadow: .1em .1em .5em rgba(0,0,0,.45);
}

.flat-table {
  display: block;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 115%;
  overflow: auto;
  width: auto;
}

th {
  background-color: rgb(112, 196, 105);
  color: white;
  font-weight: normal;
  padding: 20px 30px;
  text-align: left;
}

td {
  background-color: rgb(238, 238, 238);
  color: rgb(111, 111, 111);
  padding: 20px 30px;
}

.sourceCode {
    min-width:680px;
}

img{
    /*display: block;*/
    margin: auto;
    max-width:680px;
    max-height:480px;
}

img {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
}

img:active {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
}


h2, .h2 {font-size: 24px;}
h3, .h3 {font-size: 18px;}

#TOC {
    padding-top: 10px;
    margin-top: 10px;
    margin-right: 10px;
    top:10px;
    left:0;
    /*position:absolute;
    width:220px;*/
    border-radius: 10px;
    background-color:#f5eec4;
    color:rgb(12,156,2);
}

#my_body { min-height: 500px; }

ul, ol {
    margin-top: 0;
    margin-bottom: 1px;
    padding-left: 18px;
}

pre {
  font-family: monospace;
  background-color: #fff;
  margin: 0.4em auto;
  padding: 0.5em;
  counter-reset: line;
}
pre .line-number {
  color:#93aa83;
  display:block;
}

pre .line-number {
  float:left;
  border-right:1px white solid;
  text-align:left;
  margin-right: 0.1em;
  margin-left: -1.1em;
  padding: 0 5px 0 5px;
}

pre .line-number span {
  display:block;
}

pre .cl {
  display:block;
  clear:both;
}



